*{
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  display: inline;
  padding: 30px;
  margin: 36px;
}
ul
{
  text-align: end;
  padding: 30px;
  background-color: black;
  color: white;
}
span{
  color: blue;
}
p{
  display: inline;
}

a{
  display: inline-block;
  width: 230px;

}

li:hover
{
  color: red;
  cursor: pointer;
}